<header class="flex justify-between border-b border-slate-200 px-10 py-8">
  <div class="flex items-center gap-4">
    <img src="/assets/logos/logo.png" alt="Logo" class="w-11" />

    <div>
      <h2 class="font-bold text-xl uppercase">Angular Sneakers</h2>
      <p class="text-slate-400">Best Sneakers Shop</p>
    </div>
  </div>

  <ul *ngIf="item$ | async as item" class="flex items-center gap-10">
    <li class="flex items-center gap-3 cursor-pointer">
      <img src="/assets/icons/cart.svg" alt="Cart" />
      <b>{{ item.cartTotal }} $</b>
    </li>

    <li class="flex items-center gap-3 cursor-pointer">
      <img src="/assets/icons/heart.svg" alt="Favorite" />
      <span>Favorites</span>
    </li>

    <li class="flex items-center gap-3 cursor-pointer">
      <img src="/assets/icons/profile.svg" alt="Favorite" />
      <span>Profile</span>
    </li>
  </ul>
</header>
